# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.eggs/
build/
dist/
*.whl
.venv/
venv/
.env

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store

# Data & outputs (do not commit)
data/
output/
*.tif
*.tiff
*.zarr
*.h5
*.h5ad
*.ome.tif
